<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Net Builler</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic.css">
</head>
<body>
<div>
    <div class="ui grid">
        <div class="ui row">
            <div class="ui column two wide">
                <div class="ui fluid image">
                    <div class="ui blue ribbon label">
                        <i class="bullseye icon"></i> Neural Net Creator
                    </div>
                </div>
            </div>
            <div class="ui column ten wide">
            </div>
            <div class="ui column four wide right aligned" style="padding-top:12px; padding-right:25px;">
                <label style="padding-right:5px;">Loss Function:</label>
                <select class="ui dropdown">
                    <option value="mse">MSE</option>
                    <option value="mae">MAE</option>
                    <!-- Add more options here -->
                </select>
            </div>
        </div>
        <div class="ui row">
            <div class="ui column">
            </div>
            <div class="ui column three wide">
                <div class="ui input focus">
                    <input type="text" placeholder="LayerName1:str">
                </div>
            </div>
            <div class="ui column three wide">
                <div class="ui input">
                    <input type="number" value="32">
                </div>
            </div>
            <div class="ui column two wide">
                <select class="ui dropdown">
                    <option value="relu">RELU</option>
                    <!-- Add more options here -->
                </select>
            </div>
            <div class="ui column three wide">
                <button class="ui button" type="button">Remove Layer</button>
            </div>
            <div class="ui column three wide">
                <button class="ui button" type="button">Add Layer</button>
            </div>
        </div>
        <div class="ui row">
            <div class="ui column">
            </div>
            <div class="ui column three wide">
                <div class="ui input">
                    <input class="ui input" type="text" placeholder="LayerName2:str">
                </div>
            </div>
            <div class="ui column three wide">
                <div class="ui input">
                    <input type="number" placeholder="NeuralsCount:int">
                </div>
            </div>
            <div class="ui column two wide">
                <select class="ui dropdown">
                    <option value="relu">RELU</option>
                    <!-- Add more options here -->
                </select>
            </div>
            <div class="ui column three wide">
                <button class="ui button" type="button">Remove Layer</button>
            </div>
            <div class="ui column three wide">
                <button class="ui button" type="button">Add Layer</button>
            </div>
        </div>
        <div class="ui row">
            <div class="ui column four wide" style="padding-left:25px;">
                <button class="ui primary inverted button" type="submit">Train</button>
            </div>
            <div class="ui column six wide">
            </div>
            <div class="ui column six wide right aligned">
                <div class="ui grid">
                    <div class="ui column six wide right aligned" style="padding-right:8px;">
                        <label>Training Progress:</label>
                    </div>
                    <div class="ui column ten wide right aligned" style="padding-left:0px; padding-right:25px;">
                        <div class="ui progress success" id="neural-progress">
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                            <div class="label">Everything worked and ready for review.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Initialize dropdowns
    // $('select.dropdown').dropdown();

    var $progress = $('#neural-progress')

    // Placeholder for training progress bar initialization
    $progress.progress({
        percent: 100  // Placeholder value
    });
</script>
</body>
</html>